h2{
    font-size: 32;
    font-weight: bold;
    color: rgb(94, 37, 20);
}

h1{
    font-size: 35;
    font-weight: bolder;
    color:rgb(67, 47, 21);
    text-align: center;
}

.prjts,.taches{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



body{
    background-color: antiquewhite;
    margin : 1rem;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}